@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Inter:wght@400;700&display=swap");

body {
 color: white;
  background-color: red;
  background-image:
    linear-gradient(
     270deg, #e00b07, #08b102
    );
}

h1 {
  --color1: #08b102;
  --color2: #e00b07;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 80px;
  background: repeating-linear-gradient(
    45deg,
    var(--color1),
    var(--color1) 30px,
    var(--color2) 30px,
    var(--color2) 60px
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: 40s linear 0s infinite move;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

@keyframes move {
  from {
    background-position: 0px;
  }
  to {
    background-position: 1000px;
  }
}

h2{ --color1: #08b102;
    --color2: #e00b07;
font-family: "Open Sans", sans-serif;
text-align: center;
font-size: 50px;
background: repeating-linear-gradient(
  45deg,
  var(--color1),
  var(--color1) 30px,
  var(--color2) 30px,
  var(--color2) 60px
);
background-clip: text;
color: transparent;
-webkit-background-clip: text;
animation: 40s linear 0s infinite move;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(255, 255, 255);
}

@keyframes move {
from {
  background-position: 0px;
}
to {
  background-position: 1000px;
}
}

h1,
h2 {
  font-family: "Bangers", cursive;
}
